<p>Be responsible about the power your servers use - offset the carbon emissions automatically.</p>

<h2>You:</h2>

<ul>
  <li>Sign up for an account.</li>
  <li>Provide your AWS and/or Rackspace API details.</li>
  <li>Provide your credit card details.</li>
</ul>

<h2>We:</h2>

<ul>
  <li>Charge you each month based on the carbon emissions your servers have generated.</li>
  <li>Buy carbon emissions in bulk to cover all customers' emissions.</li>
</ul>

<p>Carbon emissions are calculated through open-sourced formulas from <a href="http://impact.brighterplanet.com/models">Brighter Planet</a> and purchased through <a href=""></a>, and we'll charge an extra 10% to cover our own costs. There's nothing more to it.</p>
